* {
    font-family: 'Poppins', sans-serif;
}

ul {
    color: white;
    margin-right: 2rem;
    width: 20px;
    font-size: 20px;
    font-weight: 900;
}

a {
    margin-left: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.left {
    color: white;
    margin: 0;
    padding: 0;
    display: inline-flex;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    /* width: auto; */
    flex-wrap: nowrap;

}

.logo {
    margin-left: 15rem;
    margin-right: -3.5rem;
    margin-top: 9px;
}

@import 'utilities.css';

:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
}

.btn {
    background-color: rgb(29, 221, 189);
    margin-right: 15rem;
    letter-spacing: 2px;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s ease;
    color: var(--secondary);
}

.btn:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.middlepart {
    display: flex;
    flex-wrap: nowrap;

}

.pic {
    width: 40vw;
    /* height: 100vh; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.conright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid darkblue; */
    width: 60vw;
    height: 100vh;
    flex-wrap: nowrap;
}

.photo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    /* width: 30vw;
    height: 50vh; */
}

#vivek {
    border-radius: 70px;
    width: 0vw;
    height: 0vh;
    animation: identifier 1s ease-in-out;

}

.content {
    /* border: 2px solid green; */
    width: 50vw;
    height: 50vh;
}

h1 {
    margin: 0;
    padding: 0;
    animation: identifier1 2s ease-in-out;
}

p {
    animation: identifier2 4s ease-in-out;

}

@keyframes identifier {
    from {
        height: 0vh;
        width: 0vw;
    }

    to {
        width: 29vw;
        height: 60vh;
    }
}

#vivek {
    width: 29vw;
    height: 60vh;
}

@keyframes identifier1 {
    from {
        opacity: 0%;
    }

    to {
        opacity: 1000%;
    }
}

@keyframes identifier2 {
    from {
        opacity: 0%;
    }

    to {
        opacity: 1000%;
    }
}